@font-face {
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	display: -webkit-box;
	display: -ms-flexbox;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
}

html {
	font-size: 16px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 12px;
}

p {
	font-size: 14px;
	line-height: 21px;
	padding: 0 30px;
}

/*The widths are in a percentage!*/
header {

	border-bottom: 3px solid #77a466;
	margin: 0 auto;
}

header h1 {

	margin: 0;
	padding-top: 18px;
}

header h1 span {
	color: #77a466;
}

header nav {

	padding: 38px 0;
}

header nav ul {
	margin: 0;
	padding: 0;
}

header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	padding: 0 10px;
	display: inline;
}

header nav ul li a {
	text-decoration: none;
	color: #77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	margin: 0 auto;

}

.main-image {}

.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {}

.main-title h3 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}

.main-title p {
	padding: 0;
	font-size: 16px;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	width: 33%;


	border-top: 1px solid #eee;
}

.section-one h4 {
	padding: 10px 0;
}

.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.section-two h4,
.section-three h4 {
	padding: 10px 30px;
}

.menu {
	list-style: none;
	padding: 0;
}

.menu li {
	padding: 10px 0;
	color: #77a466;
}

.reviews {}

.address {}

/*The widths are in a percentage!*/
footer {

	border-top: 3px solid #eee;
	margin: 0 auto;

	text-align: center;
}

footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 14px;
}


/*****************************
       mobile devices
******************************/

header {
	text-align: center;
}

header nav ul li {
	display: block;
}

header nav ul li {

	padding: 0.5rem 0;
	font-size: 1.3rem;
}

.main-image {
	padding-bottom: 1rem;
	width: 100%;

}

.main-image,
img {}

.top-section {
	text-align: center;

}

.main-title {
	text-align: center;
	padding: 0 60px;

}

.main-title h3 {
	font-size: 1.2rem;
	text-align: center;
}

.main-title p {
	font-size: 1.1rem;
	line-height: 1.6;
}

.bottom-section {
	display: -webkit-box;
	display: -ms-flexbox;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;

	-webkit-box-align: center;
	-ms-flex-align: center;

	-webkit-box-pack: center;
	-ms-flex-pack: center;
	text-align: center;
}

.section-one {}

.section-one h4 {}

.section-one ul {
	font-size: 1.2rem;
}

.section-two,
.section-three,
h4 {
	font-size: 1.5rem;
}

.reviews,
.address {
	font-size: 1.2rem;
	line-height: 1.5;
	padding: 0 60px;
}

.section-two,
.section-three {
	width: 560px;
}

footer {
	text-align: center;
	padding: 0 40px;
	font-size: 16px;
}

/*    tablet media query */

@media all and (min-width:768px) {
	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: row wrap;
		width: 90%;
	}

	.main-title h3 {
		font-size: 1.7rem;
	}

	.main-title p {
		font-size: 1.3rem;
	}

	.section-one,
	.section-two,
	h4 {
		font-size: 1.7rem;
	}

	.section-one ul {
		font-size: 1.5rem;
	}
}


/* desk top media query */

@media all and (min-width: 1200px) {
	header nav ul {
		display: flex;
		justify-content: space-between;

	}

	header nav ul li {
		margin-right: 18px;
	}

	.main-title h3 {
		font-size: 2rem;
	}

	.main-title p {
		font-size: 1.3rem;
	}

	.bottom-section,
	h4,
	p {
		font-size: 2rem;
	}

	.section-one ul {
		font-size: 1.5rem;
	}

	.section-two {
		width: 100%;
		max-width: 1100px;
		line-height: 1.6;

	}
}